<%= form_for(@site, :html => { :multipart => true }) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag(@site.attachment_url) if @site.attachment? %>
  <%= link_to_if(@site.attachment?, "Descargar fichero", @site.attachment_url) %>
  <div id="fileQueue"></div>
  <%= f.label :attachment %>
  <%= f.file_field :attachment, :id => "fileInput2"  %><a href="javascript:$('#fileInput2').uploadifyUpload();">Upload Files</a> | <a href="javascript:$('#fileInput2').uploadifyClearQueue();">Clear Queue</a>

  
  <%= f.hidden_field :attachment_cache %>

 

  <div class="actions">
    <%= f.submit %>
  </div>
    
  
  
  
<% end %>
